# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\root\doctor-appointment-management-system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
